@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Control Panel */
:root {
    --scale: 100px;
    --time: 1s;
    --hover-time: 0.2s;
}

/* Common Styles */
.common {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all var(--time) ease;
}

/* Style Rules for the .container class with 2 childrens(title,content) */
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media (min-width: 500px) {
    .container {
        width: 50%;
    }
}

.container .title {
    text-align: center;
}

.container .content {
    text-align: justify;
}

.container input[type="checkbox"] {
    display: none;
}

/* Style rules for the .btn class */
.btn {
    align-self: center;
    margin: 15px 0;
}

/* Style rules for the .box class */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: var(--scale);
    height: calc(var(--scale) / 2);
    background-color: #000000a3;
    position: relative;
    border-radius: calc(var(--scale) / 4);
    cursor: pointer;
    transition: all var(--time) ease;
}

/* Style rules for the roller .ball class */
.ball {
    width: calc(var(--scale) / 2);
    height: calc(var(--scale) / 2);
    background-color: grey;
    position: absolute;
    border-radius: 50%;
    border: 3px solid black;
    transition: all var(--time) ease;
}

/* Style rules for the .scenary(.sun, .moon) class */
.scenary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 0px 0px;
    width: 100%;
}

.scenary svg {
    width: calc(var(--scale) / 3);
}